body {
  font-family: canada-type-gibson,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.625;
}

header.jp-header{
  padding-top: 0px;
}

header.jp-header div nav ul:last-child {
  padding-right: 1%;
}

main.container {
  padding-top: 0px;
}

nav, footer {
  background-color: #EE3D44;
  color:white;
}

nav *, footer * {
  color:white;
}

footer ul li {
  list-style: none;
    line-height: 24px;
}

footer div {
  padding: 1rem;
}

footer .copyright {
  font-size: 12px;
  text-align: right;
}

nav ul li a {
  color:white;
}

#content {
  color:black;
}

.jp-navbar-logo {
  height: 40px;
  padding-left: 10%;
}

.jp-li-title {
  font-weight: 600;
  font-family: adelle,Georgia,serif;
  text-transform: uppercase;
}

a:focus, a:hover {
  color: #cd1219;
  text-decoration: underline;
}

a:focus, a:hover {
    color: #cd1219;
    text-decoration: underline;
}

a {
  transition: color .3s linear;
}

